@use "src/styles/colors";

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: colors.$black;
  max-height: 2.5rem;
  width: 100%;
}

.hamburguer_menu {
  padding: 0.75rem;
  margin-top: 2px;
}
